 td img {
    width: 400px;
    height: 400px;
 }
table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#lewastrona {
    position: relative;
    top: 35px;
}
#prawastrona {
 position: relative;
 top: 35px;
}
